/* src/styles/SearchBar.css */

/* Search bar container */
.search-bar {
    margin: 20px auto;
    max-width: 600px;
    padding: 0 20px;
  }
  
  .search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #033a16;
    border-radius: 8px;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .search-bar input:focus {
    outline: none;
    border-color: #146937;
    box-shadow: 0 4px 8px rgba(25, 118, 210, 0.2);
  }